/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.toast-success {
  background: #34a400;
}

.toast-error {
  background: #ff0900;
}

/* GLOBAL */
button:focus {outline:0;}
img:focus {outline:0;}